@model NewsAdManagementSystem_Entity.Models.EmployDetails
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <a class="btn btn-primary" asp-action="ShowEmployDetails">Show Employ Details</a>
</div>

<form method="post">
    <h2>Edit Employee Details</h2>
    @Html.HiddenFor(model=>model.EmpID)
    <div class="form-group">
        @Html.LabelFor(model=>model.EmpName)
        @Html.EditorFor(model=>model.EmpName)
        @Html.ValidationMessageFor(model=>model.EmpName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.EmpContactNo)
        @Html.EditorFor(model => model.EmpContactNo)
        @Html.ValidationMessageFor(model => model.EmpContactNo))
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.EmailID)
        @Html.EditorFor(model => model.EmailID)
        @Html.ValidationMessageFor(model => model.EmailID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Country)
        @Html.EditorFor(model => model.Country)
        @Html.ValidationMessageFor(model => model.Country)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.State)
        @Html.EditorFor(model => model.State)
        @Html.ValidationMessageFor(model => model.State)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.City)
        @Html.EditorFor(model => model.City)
        @Html.ValidationMessageFor(model => model.City)
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Pwd)
        @Html.EditorFor(model => model.Pwd)
        @Html.ValidationMessageFor(model => model.Pwd)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Role)
        @Html.EditorFor(model => model.Role)
        @Html.ValidationMessageFor(model => model.Role)
    </div>


    <input type="submit" value="Update" class="btn btn-primary" />
    

</form>